<div class="people">
  <img src="Images/selfies/band.png" alt="band">
  <h4 class="band">The Band</h4>
</div>
<div class="people">
  <h3>online</h3>
  <h3>friends</h3>
</div>

<div class="people">
  <img src="Images/selfies/2.png" alt="2">
  <h4>Jenny</h4>
</div>
<div class="people">
  <img src="Images/selfies/20.png" alt="2">
  <h4>Felix</h4>
</div>
<div class="people">
  <img src="Images/selfies/22.png" alt="2">
  <h4>Perry</h4>
</div>
<div class="people">
  <img src="Images/selfies/23.png" alt="2">
  <h4>Jay</h4>
</div>
<div class="people">
  <img src="Images/selfies/3.png" alt="2">
  <h4>Danny</h4>
</div>
<div class="people">
  <img src="Images/selfies/4.png" alt="2">
  <h4>Chris</h4>
</div>
<div class="people">
  <img src="Images/selfies/10.png" alt="2">
  <h4>Noah</h4>
</div>
<div class="people">
  <h3>random</h3>
  <h3>people</h3>
</div>
<div class="people">
  <img src="Images/selfies/15.png" alt="2">
  <h4>Kenny</h4>
</div>
<div class="people">
  <img src="Images/selfies/16.png" alt="2">
  <h4>Sam</h4>
</div>
<div class="people">
  <img src="Images/selfies/17.png" alt="2">
  <h4>Mary</h4>
</div>
<div class="people">
  <img src="Images/selfies/18.png" alt="2">
  <h4>Eric</h4>
</div>
<div class="people">
  <img src="Images/selfies/19.png" alt="2">
  <h4>Emily</h4>
</div>
<div class="people">
  <img src="Images/selfies/5.png" alt="2">
  <h4>Helen</h4>
</div>
<div class="people">
  <img src="Images/selfies/11.png" alt="2">
  <h4>Gwen</h4>
</div>
<div class="people">
  <img src="Images/selfies/12.png" alt="2">
  <h4>Willow</h4>
</div>
<div class="people">
  <img src="Images/selfies/6.png" alt="2">
  <h4>Greg</h4>
</div>
<div class="people">
  <img src="Images/selfies/7.png" alt="2">
  <h4>Tina</h4>
</div>
<div class="people">
  <h3>offline</h3>
  <h3>friends</h3>
</div>
<div class="people offline">
  <img src="Images/selfies/8.png" alt="2">
  <h4>Geoff</h4>
</div>
<div class="people offline">
  <img src="Images/selfies/13.png" alt="2">
  <h4>Susie</h4>
</div>
<div class="people offline">
  <img src="Images/selfies/14.png" alt="2">
  <h4>Kyle</h4>
</div>
<div class="people offline">
  <img src="Images/selfies/21.png" alt="2">
  <h4>Jacob</h4>
</div>
<div class="people offline">
  <img src="Images/selfies/24.png" alt="2">
  <h4>Dan</h4>
</div>
