<div class="bottom">
  <h4 style="visibility:hidden">privacy policy</h4>
  <h4>&copy 2020</h4>
  <h4><a href="mailto:odbv.contact@gmail.com?subject=Mail from Website">contact us</a></h4>
</div>

</body>
</html>
