<div class="form-container">
  <div class="logrow-container">

  <img src="/Images/rockon-icon.png" id="rockon" alt="rockon">
  <img src="/Images/ticket-icon.png" id="tix" alt="tix">

  <div class="logstercol-container">

  <h1>Register</h1>
  <form class="logster" action="/register" method="post">
    <input type="text" name="fName" placeholder="first name" required>
    <input type="text" name="lName" placeholder="last name" required>
    <input type="text" name="username" placeholder="email address" required>
    <input type="password" name="password" placeholder="password" required>
    <div class="checkbox">
      <input type="checkbox" class="age-check" name="age">
      <label for="age">I am over 21</label>
    </div>
     <button type="submit" name="logster-button">Join</button>
  </form>

</div>

</div>
  <form action="/logster" class="logster-switch" method="post" style="position:absolute; bottom:14%;">
    <input type="text" name="toLog" value="switchButtonPressed" style="display:none">
    <button type="submit">Already have an account?</button>
  </form>

</div>
