<%- include("partials/masterHeader") -%>
<link rel="stylesheet" href="/css/donate-styles.css">
<link href="https://fonts.googleapis.com/css2?family=B612+Mono:ital@1&family=Chilanka&family=Lora:ital@0;1&family=Suravaram&display=swap" rel="stylesheet">

  </head>
  <body>
    <h1 style="background-color:white; padding:10px; margin-top:10px;"><a href="/tempHome" style="color:black;">Online Dive Bar Venue</a></h1>

    <div class="donatationBox">
      <h2>Thanks!</h2>
      <br>We are currently working to determine the best fundraising methods.
      <br>If you haven't already, please join the mailing list.  It's the best way to stay up to date and get information on how you can help out!
<div class="buttons">
  <a href="/" class="goHome">mailing list</a>
  <a href="/home" class="goHome">website preview</a>
</div>



    </div>

  <%- include("partials/masterFooter") -%>
