<%- include("partials/masterHeader") -%>

    <link rel="stylesheet" href="/css/events-styles.css">
    <link rel="stylesheet" href="/css/events-styles-addons.css" media="screen and (min-width:1001px)">
    <link rel="stylesheet" href="/css/mobile-css/events-styles.css" media="screen and (max-width:1000px)">

    <link href="https://fonts.googleapis.com/css2?family=Montserrat&family=Nova+Mono&display=swap" rel="stylesheet">
  </head>


  <body>
    <div class="top" class="high-emph">
      <a href="/home"><h3 class="high-emph">ODBV</h3></a>
      <div class="logster">
      <a href="/login"><h3 class="high-emph">Login</h3></a>
      <a href="/register"><h3 class="high-emph">Register</h3></a>
      </div>
    </div>

    <div class="middle">
      <img src="/Images/events/main-event.png" alt="main-event">
      <img src="/Images/events/event-1.png" alt="event-1">
      <img src="/Images/events/event-2.png" alt="event-2">
      <img src="/Images/events/event-3.png" alt="event-3">
    </div>

    <%- include("partials/masterFooter") -%>
