<%- include("partials/masterHeader") -%>

  <%- include("partials/inbetween") -%>

    <%- include("partials/top") -%>

    <div class="mid-back">
      <div class="middle-insides">
        <h1 class="high-emph">Uh oh!</h1>
        <h4>Something went wrong... please try again!</h4>
</div>
        <a href="javascript:history.back()"><button type="button" name="button">Go back</button></a>
    </div>

    <%- include("partials/masterFooter") -%>
