<%- include("partials/masterHeader") -%>

<link rel="stylesheet" href="/css/icon-styles.css">
<link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100;600&family=Montserrat:wght@300;400&display=swap" rel="stylesheet">
</head>

<body>
  <div class="left-side">
<!-- <div class="left-container"> -->
<div class="top">
  <h2>Online Dive Bar Venue</h2>
</div>


<div class="inside-left">

  <div class="main-screen">
    <div class="main-row">
      <a href="/bar"><img src="Images/main-bar.png" class="i1" alt="bar"></a>
      <a href="/chat"><img src="Images/main-chat.png" class="i2" alt="chat"></a>
      <img src="Images/main-arcade.png" class="i3" alt="arcade">
    </div>
    <div class="main-row">
      <a href="/stage"><img src="Images/main-stage.png" class="i4" alt="stage"></a>
      <img src="Images/main-food.png" class="i5" alt="food">
      <img src="Images/main-bathroom.png" class="i6" alt="bathroom">
    </div>
    <div class="main-row">
      <img src="Images/main-merch.png" class="i7" alt="merch">
      <img src="Images/main-backstage.png" class="i8" alt="backstage">
    </div>
  </div>

  <div class="sidebar-profile">
    <a href="/profile"><img src="Images/side-profile.png" alt="profile"></a>
    <img src="Images/side-friends.png" alt="friends">
    <img src="Images/side-band-love.png" alt="band-love">
    <img src="Images/side-wristband.png" alt="wristbands">
    <img src="Images/side-blocked.png" alt="blocked">
    <a href="/logout"><h4> logout </h4></a>
  </div>

</div>


<div class="bottom">
  <h4>privacy policy</h4>
  <h4>&copy 2020</h4>
  <h4>contact us</h4>
</div>

</div>

<!-- </div> -->


<div class="right-side">
  <%- include("partials/onlineContacts") -%>
</div>








</body>
