<%- include("partials/masterHeader") -%>
<link rel="stylesheet" href="/css/core-styles.css">
<link rel="stylesheet" href="/css/mobile-css/logout-styles.css" media="screen and (max-width:1000px)">
<link rel="stylesheet" href="/css/logout-styles.css" media="screen and (min-width:1001px)">

<link href="https://fonts.googleapis.com/css2?family=B612+Mono:ital@1&family=Chilanka&family=Lora:ital@0;1&family=Suravaram&display=swap" rel="stylesheet">


  </head>
  <body>
    <div class="main-bar">
      <div class="main-icons">
        <h2>Online Dive Bar Venue</h2>
      </div>
    <div class="cutOff">

      <img src="Images/what-a-party.png" alt="cut-off">
      <div class="cutOffBlock">
      <h3>Alright Buddy, you've had enough...</h3>
      <br>
    <a class="logsterButton" href="/login">I'll take one more</a>
<br>
<a class="logsterButton" href="/">Sign up for mailing list</a>
<br>
<a class="logsterButton" href="/donate">Hand over your wallet</a>
</div>
</div>

  <%- include("partials/masterFooter") -%>
