<%- include("partials/masterHeader") -%>

<%- include("partials/inbetween") -%>

    <%- include("partials/top") -%>

    <div class="mid-back">
      <div class="middle-insides">
        <h1 class="high-emph">Welcome!</h1>
        <h4><br>You have succesfully created an account.
        <br><br>Click the link below to learn more. You can read through an outline detailing the direction of the project,
      get a preview of the future site, and learn about ways you can help out.</h4>
</div>
<a href="/outline"><button type="button" name="button">Come on in!</button></a>
    </div>

    <%- include("partials/masterFooter") -%>
