<%- include("partials/masterHeader") -%>

    <link rel="stylesheet" href="/css/outline-styles.css">
    <link rel="stylesheet" href="/css/outline-styles-addons.css" media="screen and (min-width:1001px)">
    <link rel="stylesheet" href="/css/mobile-css/outline-styles.css" media="screen and (max-width:1000px)">

    <link href="https://fonts.googleapis.com/css2?family=Crimson+Text&family=Abril+Fatface&family=Oswald&family=Raleway&family=Source+Sans+Pro:wght@900&family=Playfair+Display+SC:ital@1&display=swap" rel="stylesheet">

  </head>
  <body>


    <%- include("partials/top") -%>


    <div class="top-images">
      <img src="/Images/little-dots.png" alt="l-d" id="top-side-img">
      <img src="/Images/little-dots-2.png" alt="l-d" id="mid-side-img">
    </div>

    <div class="middle-top">
      <img src="/Images/rainbow-circle.png" alt="r-c" id="big-circle">
      <div class="middle-top-title">
        <h1>Online Dive Bar Venue</h1>
        <h3>a project to bring music back to life</h3>
      </div>
    </div>

<!-- start of copied -->
<div class="middle-bottom">
      <div class="intro">
       <p>
	The evolution of virtual concerts from “live-streaming” to something greater is inevitable.  Historically, conveyors of music like radio broadcasting and music videos, began simplistically with unedited live performances.  Only when artistry and innovation are introduced do we see the creation of something that moves the world.
      </p>
      </div>
      <div class="around-midnight">
      <div class="mid-night">
        <h2>Life has been different for so long...</h2>
        <p>
	 it’s hard sometimes to remember what it was like before, what it feels like to be carefree, to be with friends, for some of us, to have a job.  We took for granted so much and in the midst of all these crises, we lost something we never thought possible: live music.  It isn’t just the stage, the sound, or the lights; for many of us, it feels like we’ve lost a part of ourselves, our community, and we don’t know when we’re going to get it back.  Virtual performances feel like temporary solutions and seem to remind us only of what we’re missing.  What will most certainly mirror our eventual real world future, the lists of “can’t miss” online shows are filled with pop stars and the very much overplayed, and coupled with the potential loss of an overwhelming majority of music venues, we are left wondering what will be left of the world we used to know.  How much longer can our beloved venues hold out? How much longer can our starving artists actually starve?  Will we even have anything to come back to?  The collective spirit of the underground music scene is resilient, but a desire for normalcy won’t be enough.  The online world of music is certain to grow and I believe that through dedicated research and with enthusiastic creativity and innovation, we can ensure the longevity of the underground, dark sticky floor venue, pack your own van, handstamp, house party music scene.
        </p>
<p>
Thousands of venues in the U.S. are likely to close within the next few months without federal assistance.  In fact, NIVA, the National Independent Venue Association, reported in September that 90% of its members will shutter their doors permanently by the end of the year, warning that not only will they be the last businesses to reopen, but that operating at a reduced capacity would be unsustainable.  Additionally, while it is widely believed that the general public can expect to start the vaccination process in late spring or early summer of next year, doctors and experts like Bill Gates and Dr. Faucci have recently made statements to CNN and MSNBC that we won’t experience a sense of normalcy until the end of 2021 and that we won’t have the ability to gather in crowds until the 2nd or 3rd generation of the vaccine; that for the next two years, the virus will continue to exist in the world and that we will continue to implement restrictions.
</p>


<h3>What will the music world look like when that day finally comes?</h3>
        <p>
	Many experts believe that few bands will be offered the opportunity to tour.  The combination of fewer venues, a short supply of tour dates, and an inability to assure the tour won’t be cancelled or otherwise postponed, means that only artists that can profit from a half filled stadium will perform, seemingly without an advance or guarantee.  That burden will be much greater on “local” bands; if they are unable to fund a tour, they simply won’t go, and without touring bands, these venues have an even smaller chance of survival.  Many talented artists may stop playing all together.  A survey of musicians in London found that 64% were considering leaving the industry.  It is widely believed that musicians that occupy small clubs sustain the music industry.  The implications of losing such a force could result in a smaller pool in which to pull new music from as well as far less innovation in sound and creativity.  Without those who seek to push the limits, music will become stagnant.
</p>
<p>
Right now we find ourselves with few options for entertainment.  The most prominent, of course, are live streamed concerts and virtual performances, and while it may not currently be the preferred method of consumption, it is certain to be a permanent fixture, even as live music eventually returns.  It is currently estimated that the online performance industry is worth approximately a billion dollars with top artists earning up to a million dollars per concert.  Over the next three years, even the most conservative estimates put its growth at six billion dollars with some believing it will be worth tens of billions of dollars in that same timeframe.
</p>
<h3>47% of music fans believe that it’s important to offer virtual performances</h3>
<p>
but only 25% have attended one.  The way in which concerts have been continuously pushed back, months at a time, has certainly left many to believe that live music in the way it used to exist is just around the corner, this is, however, becoming increasingly unlikely but is perhaps the reason why few have participated in online shows. There is of course, the possibility that there is little interest in what is currently being offered.  The problem with live performances is that they are live.  Unedited raw footage is often awkward and sometimes boring, and one cannot simply film a show and expect to replicate the feeling of intimacy and excitement the audience feels in a venue.  Music becomes a new medium online and the performances should reflect that.
</p>
<p>
The audience deserves better, the performers deserve better.  By evaluating what has and hasn’t been successful over the past year and combining research into the history of other musical accomplishments and the psychology behind what makes a performance enjoyable; what makes people happy, we can attempt to rebuild the strong, dedicated community we were all once a part of.  It’s time to stop waiting for a solution and make something the world needs right now.  We have an opportunity to create something special, to give artists and people in the music industry the means to return to work, and to give people something to be excited about.  We have the ability, right now, to shape the future of music.
</p>


  </div>

    </div>
    <div class="mid-list-1" style="margin-top:50px;">
      <h2>The Show</h2>
      <ul>
    <li>A multi-camera virtual performance, filmed on stages, in bars, etc; edited</li>
    <li>An amalgam of music, art, fashion, animation, comedy, and other forms of art</li>
    <li>Each episode features 2-3 bands with complementary performances
       <br>"live" band performance leads into dance, music videos, interviews, etc
    </li>
    <li>"Doors open" live stream band interview before show
      <br>-Bands interviewing bands, users can submit questions</li>
  </ul>
    </div>
    <div class="mid-list-2">
      <h2>Bar</h2>
      <ul>
      <li>Bartenders to show how to make classic cocktails, eventually specialty cocktails</li>
      <li>Users can purchase “cocktail boxes” w/ ingredients to be delivered or picked up</li>
      <li>Bar Tool Box -possible free gift w/ purchase</li>
      <li>Future: Bartender specialty recipes -new monthly box</li>
      <li>Magic 8 ball type game -“Bartender Advice”</li>
    </ul>
    <ul class="extra">
      <li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li>
    </ul>
    </div>

    <div class="tour-button">
      <a href="/home"><button type="button">TAKE A TOUR</button></a>
    </div>


    <div class="mid-list-1">
      <h2>Merch</h2>
      <ul>
      <li>Online merch store</li>
      <li>All scheduled bands merch available all the time</li>
      <li>Featured and playing artists at top</li>
      <li>Exclusive “ODBV” designs</li>
      <li>Communal protected storage for faster more convenient shipping
        <br> -bands have access during regular hours</li>
<li>Power in numbers- people more likely to purchase multiple items from different bands</li>
    </ul>
    </div>

    <img src="/Images/drank.png" alt="drank" id="drank-img">
    <img src="/Images/music-store.png" alt="merch" id="merch-img">
    <img src="/Images/rainient.png" alt="rainient" id="rainient">

    <div class="mid-list-2">
      <h2>Social Aspect</h2>
      <ul>
      <li>Chatroom to help emulate bar experience</li>
      <li>Simple chat with fun added features
      <li>Display: Bands, friends online and offline</li>
      <li>-optional 10 random people everytime page refreshed</li>
      <li>Green Room: bands' pages with videos, pictures, interviews</li>
      <li>Users can "heart" a band</li>
      <li>Band chat -at least one member during show’s premiere </li>
    </ul>
    <ul class="extra">
      <li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li>
    </ul>

    </div>
    <!-- previously a border here -->
    <div class="mid-list-1">
      <h2>Additional Thoughts</h2>
      <ul>
      <li>Pizza/Food Court -sponsored food delivery? coupons? maybe do cooking tutorials?</li>
      <li>Bathroom Graffiti <br>-display local artists drawings, poetry, jokes on bathroom stall background</li>
      <li>Arcade <br>-simple "rockstar" platform game <br>-ask a bartender magic 8 ball <br>-photo booth: splice 2 images together to look like you have friends, picture with band (band is a background)</li>
      <li>Future: When venues can re-open, film live shows (set-up a filming network), users can watch shows from around the world at home
    </ul>
    </div>

<!-- end of copied -->

      <div class="tour-button">
        <a href="/home"><button type="button">CHECK IT OUT!</button></a>
      </div>

      <div class="mid-list-1">
        <h2>Interesting and Important Articles</h2>
        <ul>
          <li><a href="https://apple.news/AupZiNm1xSESViZFOC2LetQ">Pfizer vaccine results are promising, but lack of data ‘very concerning,’ experts say</a></li>
          <li><a href="https://static1.squarespace.com/static/5e91157c96fe495a4baf48f2/t/5f6107a8166a3817a3f2040a/1600194473483/NIVA-+Policy+and+Fact+Sheet+9-15-20.pdf">NIVA September 2020 report</a></li>
          <li><a href="https://www.billboard.com/articles/deep-dive/the-new-livestreaming-landscape/9441717/inside-livestream-concert-tech-boom">If You Stream It, Will They Come? Inside The Livestream Boom</a></li>
          <li><a href="https://www.billboard.com/articles/business/9461097/consumers-livestreams-virtual-concerts-music-360">Good News for Livestreams: Half of Music Fans Want Virtual Concerts</a></li>
          <li><a href="https://apple.news/A9wdg1EN1TQClWsHNRWzPDg">'The Talent Ate Good for Years': Promoters to Shift More Risk Onto Artists When Concerts Return</a></li>
          <li><a href="https://apple.news/AT-RTRdZGRei1LiTVXYkZ_g">Elton John Critiques Music of Today as He Says Songs on the Charts 'Isn't Real Music'</a></li>
          <li><a href="https://apple.news/APoRkK_8pNJmYJdzqA70f7w">The Art of The At-Home Concert</a></li>
          <li><a href="https://apple.news/AbpkSc9RuSEe3Ll-LKJPfXg">The UK’s first socially distanced gig looks absolutely awful</a></li>
          <li><a href="https://apple.news/AgxJr1QFtRGq7yz7qZ-BpnQ">Here’s why Warped Tour’s Kevin Lyman says gigs could be delayed longer</a></li>
          <li><a href="https://apple.news/ARRwz4Q1aRRWGUVJI1xAjrQ">Experts Predict What Life Will Be Like After A COVID-19 Vaccine Arrives</a></li>
          <li><a href="https://apple.news/A51kNvvVhTKuzQh09XCUTuw">If you’re not terrified about Facebook, you haven’t been paying attention</a></li>
          <li><a href="https://apple.news/ApNp2mazxQ7WjpCJJ3UBA1g">It's Going to Take a Lot of Luck for Live Music to Come Back Safely</a></li>
          <li><a href="https://apple.news/A7rykBNNrQOKYzv2A4ElaGw">Lollapalooza Co-Founder Says Concerts Unlikely To Come Back Until 2022</a></li>

        </ul>
      </div>

    </div>
    <div class="bottom">
        <p>If you're interested in this project and would like to help, please consider donating</p>
        <a href="/donate"><button type="button" name="donate-button" class="donate-button">Donate</button></a>
      <div class="policy">
        <p style="visibility:hidden">privacy policy</p>
        <p>&copy 2020</p>
      </div>

    </div>

  </body>
</html>
