<%- include("partials/masterHeader") -%>

<link rel="stylesheet" href="/css/ster-styles.css">

<link href="https://fonts.googleapis.com/css2?family=B612+Mono:ital@1&family=Chilanka&family=Lora:ital@0;1&family=Suravaram&display=swap" rel="stylesheet">
</head>

<body>


  <div class="middle-box">
  <h1 class="header">Success</h1>
  </div>





</body>
</html>
