<%- include("partials/masterHeader") -%>

<%- include("partials/inbetween") -%>

    <%- include("partials/top") -%>

    <div class="mid-back">
      <div class="middle-insides">
        <h1 class="high-emph">Welcome!</h1>
        <h4><br>You have succesfully created an account and joined the mailing list. Check your inbox for a confirmation email.
        <br><br>If you don't see it, check your promotions folder and add <a href="mailto:odbv.contact@gmail.com?subject=Hey...">odbv.contact@gmail.com</a> to your contacts so you don't miss anything.
        <br><br>Click the link below to learn more and get a preview of the future site.</h4>
</div>
<a href="/outline"><button type="button" name="button">Come on in!</button></a>
    </div>

    <%- include("partials/masterFooter") -%>
