<div class="chat">
  <h2>Chatroom</h2>

  <div class="people, unknown-new-mess">
    <a href="/insideChat"><img src="Images/selfies/7.png" alt="2"></a>
  </div>
  <div class="people, new-mess">
    <img src="Images/selfies/2.png" alt="2">
  </div>
  <div class="people, new-mess">
    <img src="Images/selfies/20.png" alt="2">
  </div>
  <div class="people, new-mess">
    <img src="Images/selfies/22.png" alt="2">
  </div>
  <div class="people, old-mess">
    <img src="Images/selfies/23.png" alt="2">
  </div>
  <div class="people, old-mess">
    <img src="Images/selfies/3.png" alt="2">
  </div>
  <div class="people, old-mess">
    <img src="Images/selfies/4.png" alt="2">
  </div>
  <div class="people, old-mess">
    <img src="Images/selfies/10.png" alt="2">
  </div>
</div>
