<div class="events">
  <div class="event-row">
    <img src="/Images/events/main-event.png" alt="main-event">
    <img src="/Images/events/event-2.png" alt="event-2">
  </div>
  <div class="event-row">
    <img src="/Images/events/event-1.png" alt="event-1">
    <img src="/Images/events/event-3.png" alt="event-3">
  </div>

</div>
